body {
    background-color: #fff;
    margin: 0;
    font: 400 13.3333px arial;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > #root {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    > .app-body {
        padding: 1em;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}